<div class="main">
  <mat-card class="row">
      <div class="column1">
        <mat-card class="card">
          <video src = "abc.mp4"  width="320" height="500"></video>
        </mat-card>
      </div>

      <div class="column2">
        <mat-card class="listHeight">
            <mat-card-title>Customers</mat-card-title>
            <div class="ScrollStyle">
            <mat-list *ngFor="let cust of customers" >
                <mat-list-item>
                  {{cust[0]}} 
                  <span *ngIf = "cust[1] == 'yes'">
                      <mat-icon>star</mat-icon>
                  </span> 
                </mat-list-item>
              </mat-list>
            </div>
        </mat-card>
      </div>
  </mat-card>
  
</div>
