.row{
    display: flex !important;
    /* margin: .5em; */

}
.column1{    
    flex: 1.5;
    width: 100%;
    height: 100%;
}

.column2{
    flex: 1;
    margin-left: 1em;
    width: 100%;
    height: 100%;
}

.ScrollStyle{    
    overflow-y: auto;
    height: 90%;
}

.listHeight{
    height: 491px;
}

.fit{
    object-fit: cover;
}

.faulltcountstyle{
    float: right !important;
   }

.bck{
    /* background-image: linear-gradient(to bottom right, gray, white); */
    background-color: #E0E0E0;
}
.txtCenter{
    text-align: center;
}
.fontsize{
    font-size: 4vh;
}